<div class="header">
    <nav class="nav">
         <img src="../assets/logo.png" alt="img not found" class="logo" >
         <ul>
   
           <li><a href="#">Travel Guide</a></li>
           <li><a href="#">Faomus Places</a></li>
           <li><a routerLink='./contact' routerLinkActive="active" ariaCurrentWhenActive="page">Contact US</a></li>
           <li><a routerLink='./footer'>About</a></li>
          
         </ul>
         <button class="btn"><img src="../assets/icon.png" alt="img not found">Bookings</button>
       </nav>

</div>