
    <div class="contact"  >
        <h1 title="Contact US">Connect with US</h1>
        <p>We would love to respond to your queries  and help you succeed. <br>
           Feel free to get in touch with us</p>
        <div class="contact-box">
          <div class="contact-left">
            <h3>Send your request</h3>
            <form action="">
              <div class="input-row">
                <div class="input-group">
                       <label for="">Name</label>
                       <input type="text" name="" id="" placeholder="MD ALI">
    
                </div>
                <div class="input-group">
                  <label for="">Phone</label>
                  <input type="number" name="" id="" placeholder="9798XXXX">
                   </div>
              </div>
              <div class="input-row">
                <div class="input-group">
                       <label for="">Email</label>
                       <input type="email" name="" id="" placeholder="abc@gmail.com">
    
                </div>
                <div class="input-group">
                  <label for="">Subject</label>
                  <input type="text" name="" id="" placeholder="Message...">
                   </div>
              </div>
            </form>
    
            <label for="">Message</label>
            <textarea name="" id=""  rows="5" placeholder="Write your queries..."></textarea>
    
            <button class="btn btnn" >Submit</button>
          </div>
    <div class="contact-right">
      <h3>Reach us</h3>
      <table>
        <tr>
          <td>Email</td>
          <td><cite>contactus@example.com</cite></td>
        </tr>
        <tr>
        <td>Phone</td>
        <td>+1 012 902 980</td>
      </tr>
      <tr>
        <td>Address</td>
        <address>  <td>BDC6D,xyz park<br>Whitefield Bangalore,560037</td></address>
      
      </tr>
      </table>
    </div>
        </div>
      </div>

    