<!DOCTYPE html>
<html lang="en">
<head
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="MD ALi">
  <!-- <meta http-equiv="refresh" content="5; url=https://www.google.com/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <script src="https://kit.fontawesome.com/24057364d0.js" crossorigin="anonymous"></script>

  <title>Basic Websites</title>
</head>
<body>

  <app-nav></app-nav>
  

 <router-outlet></router-outlet>

</body>
</html>