<div class="footer" id="about">

    <div class="col-1">
      <h3>USEFUL LINKS</h3>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Explore</a>
      <a href="#">Blog</a>
    </div>
    <div class="col-2">
      <h3>NEWSLETTER</h3>
      <form >
        <input type="email" placeholder="Enter your email address" required>
        <br>
        <button>SUBSCRIBE NOW</button>
      </form>
    </div>
    <div class="col-3">
      <h3>CONTACT</h3>
      <p>BDC6D,xyz park<br>Whitefield Bangalore,560037 </p>
      <div class="socials-icon">
        <img src="../assets/instagram.png" alt="" srcset="">
        <img src="../assets/facebook.png" alt="" srcset="">
        <img src="../assets/twitter.png" alt="" srcset="">
        <img src="../assets/linkedin.png" alt="" srcset="">
      </div>
    </div>
    
  </div>